/* styles.css */

/* Reset de CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables de colores */
:root {
--blanco: #ffffff;
--negro: #212121;
--primero: #ffbf00;
--segundo: #007db6;
--tercero: #e7e7e6;
--cuarto: #abcdef;
--quinto: #628fb0;
--sexto: #104071;
}

/*importando fonts*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&family=Skranji:wght@400;700&family=Unna:wght@400;700&display=swap');

/* 1 rem = 10 px */
html {
  font-size: 62.5%;
  box-sizing:border-box;
}

*, *:before, *:after{
  box-sizing: border-box;
}

body {
  font-size: 16px;
}



  /*imagen principal */
.imagenprincipal {  /*IMAGEN DE FONDO cuerpo principal*/
  background-image: url(img/london.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 25rem;
  position: relative;
  margin: 10px;
  border-radius: 10px;
}

.parrafoimagen { /*texto sobre el cuerpo principal y box de sombreado sobre .imagenprincipal */
  display: flex;
  align-items:center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(68, 68, 68, 0.6);
  color: var(--blanco);
  margin: 0;
  flex-direction: column;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
}

h1 {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}

.mi-boton2 {
    background-color: antiquewhite;
    border-bottom: #212121;
    border-radius: 2px;
    font-size: small;
    text-decoration: none;
    padding: 2px;
    margin-top: 30px;
}

.logoe4ediv {
  display: flex;
  justify-content: center;
}

.logoe4e {
  width: 30%;
}


.nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

